/* General */
:root {
    --normal-font: 500;
    --bold-font: 700;
    --bolder-font: 900;
    --top-margin: 2rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
    
  }
  /* Font */
:root {
    --primary-font:'Poppins', sans-serif;
    --secondary-font:'Roboto', sans-serif;
    --third-font: 'Poppins', sans-serif;
}

/* Colour */
:root {
    --primary-font-col: rgb(179, 179, 179);
    --primary-color: rgb(44, 31, 216);
    --secondary-color: #30d32a;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bg-color: #fcfcfc;
    --bg-dark:#202125;  
    --button-hover-colour: rgb(0,136,169,1.4);
    --button-colour: #3de5c5;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
  background-color: var(--bg-dark);
  color: var(--primary-font-col);
  text-align: center;
}

html {
    scroll-behavior: smooth;
  }

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: var(--top-margin) 2rem 2rem;
    
}

button{
  letter-spacing: 3px;
  padding: 10px 40px;
  margin-left: 20px;
  color: black;
  font-family: var(--third-font);
  background-color: var(--button-colour);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
button:hover{
  background-color: var(--button-hover-colour);
  color: #080808 ;
}

section {
  height: 35vh;
  width: 40vh;
  width: 90%;
}

.logIn-btn {
  margin-top: 1rem;
}

.logo {
  height: 7rem;
  width: 30rem;
  cursor: pointer;
}

.currentTime {
  font-family: var(--primary-font);
  font-size: 20px;
  margin-top: 1rem;
  color: var(--bg-color);
}

.topRow {
  padding-top: 5rem;
}

/* Sign Up */

#signUpForm {
  font-family: var(--third-font);
  color: var(--primary-font-col);
  margin: 2rem 0;
  border-radius: 10px;
  padding-top: 7.5rem;
  transition: ease-in-out 0.3s;
}

h2 {
  font-family: var(--third-font);
  font-weight: 300;
}

input {
  letter-spacing: 1.5px;
  max-width: 100%;
  display: block;
  width: 320px;
  height: 50px;
  font-family: var(--third-font);
  color: antiquewhite;
  font-weight: 350;
  border: 1px solid var(--button-colour);
  border-radius: 5px;
  background: transparent;
  outline: none;
  font-size: 20px;
  padding-left: 1rem;
  margin: 2rem 0;
}


/* FOOTER */
.socialMedia {
  cursor: pointer;
  margin: 2rem;
  gap: 1rem;
}

.footer-icon {
  height: 3rem;
  width: 3rem;
  margin: 1.5rem;
  border-radius: 60px;
  transition: ease-in-out .3s;
}
.footer-icon:hover {
  background-color: var(--button-colour);
}

#email-icon {
  height: 1.2rem;
  width: 1.2rem;
  margin-top: 3px;
  margin-right: 10px;
}

#needHelp {
  justify-self: flex-start;
  letter-spacing: 3px;
}

#enquiry-email {
  cursor: auto;
  letter-spacing: 1px;
}

.enquiry {
  margin-top: 2rem;
}

.firstFooter {
  display: flex;
  justify-content: space-around;
}


.copyRight {
  letter-spacing: 1.5px;
  font-family: var(--primary-font);
}

/* News Container additions */
/* .row1 {
  display: flex;
  flex-direction: row;
}
.row2 {
  display: flex;
  flex-direction: row;
}
.row3 {
  display: flex;
  flex-direction: row;
}
.row4 {
  display: flex;
  flex-direction: row;
}
.row5 {
  display: flex;
  flex-direction: row;
} */
.timeofPublish0 {
  font-size: x-small;
}
.title0 {
  font-size: small;
}
.timeofPublish1 {
  font-size: x-small;
}
.title1 {
  font-size: small;
}

.timeofPublish2 {
  font-size: x-small;
}
.title2 {
  font-size: small;
}
.timeofPublish3 {
  font-size: x-small;
}
.title3 {
  font-size: small;
}
.timeofPublish4 {
  font-size: x-small;
}
.title4 {
  font-size: small;
}
#newsContainer{
  position: relative;
  left: 200px;
  top: 90px;
}
.newstitle {
  text-align: left;
}
/* Media Queries */

@media only screen and (max-width: 1200px) {
  .body {
    height: 100%;

} 

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .container-fluid {
    display: block;
  }

  .container {
    text-align: center;
  }

  [class*="col-"] {
    width: 80%;
  }

  .col-12.col-md-4.col-xl-3 {
    order: 2;
    display: block;
  }

  .col-12.col-md-8.col-xl-9 {
    order: 1;
  }
 
}};

/* End Media Query */